<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Nueva memoria</h3>

  <div>
    <label>Título</label>
    <input type="text" formControlName="title" />
    @if (form.get('title')?.invalid && form.get('title')?.touched) {
      <small>Mínimo 3 caracteres</small>
    }
  </div>

  <div>
    <label>Descripción</label>
    <textarea formControlName="description"></textarea>
    @if (form.get('description')?.invalid && form.get('description')?.touched) {
      <small>Mínimo 5 caracteres</small>
    }
  </div>

  <div>
    <label>Imagen</label>
    <input type="file" accept="image/*" (change)="onFileChange($event)" />
    @if (!selectedFile()) {
      <small>Selecciona una imagen</small>
    }
  </div>

  @if (error()) {
    <p>{{ error() }}</p>
  }

  <button type="submit" [disabled]="form.invalid || !selectedFile() || loading()">
    {{ loading() ? 'Guardando...' : 'Guardar memoria' }}
  </button>

</form>