<div>
  <h2>Memories</h2>

  <app-memory-form (memoryCreated)="loadMemories()"/>

  @if (loading()) {
    <p>Cargando...</p>
  }

  @if (error()) {
    <p>{{ error() }}</p>
  }

  @if (!loading() && memories().length === 0) {
    <p>No hay notas aún.</p>
  }

  @for (memory of memories(); track memory.id) {
    <div>
      <p>{{ memory.title }}</p>
      <img [src]="memory.imageUrl" [alt]="memory.title" width="1000px"/>
      <p>{{ memory.description }}</p>
      <small>{{ memory.created_at }}</small>
    </div>
  }
</div>